<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="../static/js/jquery-3.2.1.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/static/css/custom.css}" rel="stylesheet" media="screen"/>



</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(articles)}"></div>
    <h2>Articles</h2>
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Company</td>
            <td>Stock</td>
        </tr>
        <tr th:each="article : ${articles}">
            <td th:text="${article.getName()}"></td>
            <td th:text="${article.getDescription()}"></td>
            <td th:text="${article.getPrice()}"></td>
            <td th:text="${article.getCompany()}"></td>
            <td th:text="${article.getStock()}"></td>
        </tr>
    </table>
</div>

</body>
</html>